/* responsive design */
@media screen and (max-width: 576px) {


    nav {
        flex-direction: column;
        text-align: center;

    }

    nav>ul {
        margin-top: 20px;
        flex-direction: column;
        text-align: left;
        gap: 20px;
    }

    .banner-text {
        width: 100%;
    }


    /* features responsive */

    .features {
        width: 80%;
        
        display: flex;
        flex-direction: column;
        
    }
    .features-images {
        padding-left: 1px;
        grid-template-columns: repeat(1, 1fr);
    }
    .btn-features{
        text-align: center;
    }
   

    /* Features details section styles */

    .features-details {
        flex-direction: column-reverse;
    
    }
    .fd-text {
        width: 100%;
    }
    .fd-text>p{
        margin-bottom:20px;
    }

    .fd-images>img {
        margin-left: 0px;
        z-index: -1;
    }

    .overlap-btn{
        text-align: center;
    }


}