* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    background-color: #FF900E;
    color: aliceblue;
    font-size: 20px;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 50px;

}

section {
    width: 80%;
}


/* header section start here */

header {
    background: rgba(255, 144, 14, 0.1);
}

.header {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 100px;
}

nav>ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;

}

.banner {
    text-align: center;
}

.banner-text {
    width: 70%;
    margin: 0 auto;
}

.banner-text>h1 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-text>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.banner img {
    width: 100%;
    height: 80%;
}

/* features section styles */

.features {
    margin: 85px auto 130px auto;
    display: flex;
    gap: 70px;

    align-items: center;

}


.features-images {
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}


.features-images>img {
    width: 342px;
    height: 342px;
    box-shadow: 2px 2px 5px #727272;
    border-radius: 5px;
}


.features-text>h2 {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
    color: #727272;
}

.features-text>h2>span {
    color: #FF900E;
    font-weight: 700;
}

.black {
    color: black !important;
}

.features-text>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}




/* details features section styles */
.features-details {
    margin: 0 auto;
    display: flex;
    gap: 50px;

}

.fd-text {
    width: 50%;
}

.fd-text>h2 {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 5px solid #ff900e;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fd-text p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #727272;

}

.fd-card {
    margin-bottom: 15px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px #4a4848;
}

.last {
    margin-bottom: 0px !important;
}


.exp-btn {
    height: 142px;
    width: 200px;
}

.exp {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

.overlap-btn {
   
    
    margin-top: -100px;
}


.fd-images>img {
    width: 100%;
    margin-left: 50px;
    z-index: -1;
    /* margin-left: 30px;
   margin-bottom: 30px; */
}