* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(255, 144, 14, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


header {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

nav>ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;

}

.banner {
    text-align: center;
}

.banner-text {
    width: 70%;
    margin: 0 auto;
}

.banner-text>h1 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-text>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.banner img {
    width: 100%;
}


.btn {
    background-color: #FF900E;
    color: aliceblue;
    font-size: 20px;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 50px;

}